################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Python/input.txt
Python/.idea/