################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Armstrong numbers/Armstrong numbers/bin/Debug
